@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sam Glaser<br />
    Copeland 012<br />
    <abbr title="Phone">P:</abbr>
    111.111.1111
</address>

<address>
    <strong>Email:</strong>   <a href="sg160815@ohio.edu">sg160815@ohio.edu</a><br />
</address>