@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong><span class="glyphicon glyphicon-user"> Sam Glaser</strong><br />
    <strong><span class="glyphicon glyphicon-home"> Copeland 012</strong><br />
    <strong><span class="glyphicon glyphicon-earphone"> 111.111.1111</strong>
    <strong><span class="glyphicon glyphicon-envelope"> Email:</strong>   <a href="sg160815@ohio.edu">sg160815@ohio.edu</a><br />
</address>