@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS Class</h1>
    <p class="lead">We love this class and everything about it! I cannot wait to learn more. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About Me</h2>
        <p>
            My name is Sam Glaser. I am a senior from Pittsburgh, Pennsylvania and I am studying Management Information Sytems and Business Analytics. I am in Alpha Kappa Psi as well as Select Leaders and the Center for Consumer Research and Anlaytics. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Classwork</h2>
        <div>Projects I will be completing in this class./div>
        <h3>Links to sample models</h3>
        @Html.ActionLink("Course", "Index", "Courses")<br />
        @Html.ActionLink("Enrollment", "Index", "Enrollments")<br />
        @Html.ActionLink("Instructor", "Index", "Instructors")<br />
        @Html.ActionLink("Student", "Index", "Students")

    </div>
    <div class="col-md-4">
        <h2>Coding Knowledge</h2>
        <div>I have advanced experience in HTML and database management. </div>
    </div>
</div>